{% extends 'base.html' %}

{% block title %}Profilo{% endblock %}

{% block style %} <!-- Start style -->
<style>
  #sidebar svg{
    margin-top: -7px;
  }
</style>
{% endblock %}<!-- End style -->


{% block content %}<!-- Start content -->
<div class="container-fluid">
  <div class="row">
    <!-- Start sidebar -->
    <div id="sidebar" class="col-lg-2 d-flex flex-column flex-shrink-0 p-3 bg-light vh-100">
      <div class="dropdown"><!-- dropdown user -->
        <a  href="#" 
            class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" 
            id="dropdownUser" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
          
          {% load static %}
          <img {% if user.avatar %}src="{{ user.avatar.url }}" {% else %}src="{% get_media_prefix %}avatars/default.jpg" {% endif %}
            class="rounded-circle me-2" 
            width="32" 
            height="32">
          
          <small>{{ user.email }}</small>
        </a>
  
        <ul class="dropdown-menu" aria-labelledby="dropdownUser">
          <li><a class="dropdown-item" href="{% url 'logout' %}">Esci</a></li>
        </ul>
      </div> <!-- End dropdown -->
      <hr>
      <ul class="nav nav-pills flex-column mb-auto"> 
        <li class="nav-item"> <!-- start home item -->
          <a href="{% url 'home' %}" class="nav-link" aria-current="page">
            <svg  xmlns="http://www.w3.org/2000/svg" 
                  width="20" 
                  height="20" 
                  fill="currentColor" 
                  class="bi bi-house-door" 
                  viewBox="0 0 16 16">
              <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
            </svg>
            Home
          </a>
        </li> <!-- end home item -->
      </ul> 
    </div><!-- End sidebar -->
    
    <div class="col-lg-10">
      <div class="container py-5">
        
        <div class="card border-0" style="max-width: 540px;"><!-- Start avatar card  -->
          <h4>Immagine profilo</h4>
          <div class="row g-0"> <!-- image -->
            <div class="col-md-4">
              <img {% if user.avatar %}src="{{ user.avatar.url }}" {% else %}src="{% get_media_prefix %}avatars/default.jpg" {% endif %} 
              class="img-fluid rounded-start" >
            </div><!-- end image -->
            <div class="col-md-8">
              <div class="card-body"> <!-- select avatar -->
                <form action="{% url 'view_update_user_avatar' user.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <label class="form-label">Seleziona immagine</label>
                  <input class="form-control" type="file" name="fileAvatar">
                  <button class="btn btn-primary mt-2" type="submit">Salva</button>
                </form>
              </div><!-- end select avatar -->
            </div>
          </div>
        </div><!-- End avatar card -->
        <hr>

        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">I tuoi dati</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %} <!-- End content -->


{% block script %}<!-- Start script -->
<script>
  // $(document).ready(function(){
  //   $('.nav-link').on('click', function(){
  //     $( ".nav-link" ).each(function( index ) {
  //       $(this).removeClass('active');
  //     });
  //     $(this).addClass('active');
  //   });
  // });
</script>
{% endblock %}<!-- End script -->