{% extends 'base.html' %}

{% block title %}Profilo{% endblock %}


{% block content %}<!-- Start content -->
{% include 'navbar.html' %}
{% load static %}
<div class="container-fluid">
  <div class="row">

    {% include 'profile/sidebar.html' %}
    
    <div class="col-lg-10 border-start">
      <div class="container py-5">

        {% include 'alert.html' %}

        <div class="card border-0"> <!-- Start subscription  -->
          <div class="card-body">
            <h4 class="card-title">Il tuo abbonamento</h4>
            <div class="mb-3"></div>

            <div id="box-select" class="mb-3" hidden>
              <select class="form-select" onchange="getSelectedValue(this)">
                {% for sub in subscription_list %}
                <option value="{{ sub.type }}">{{ sub.type }} €{{ sub.cost }}</option>
                {% endfor %}
              </select>
              <button class="btn btn-success mt-3" id="confirm-new-sub" onclick="confirmNewSub()" hidden>Conferma</button>
              <button class="btn btn-success mt-3" id="confirm-modify-sub" onclick="confirmModify()" hidden>Aggiorna</button>
            </div>

            
            {% if not user_subscription %}
            <button class="btn btn-link card-link text-decoration-none" onclick="aggiungi(this)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              Aggiungi
            </button>
            
            {% else %}
              <p class="card-text">Stato: 
                {% if user_subscription.is_active %}
                <svg style="color: green; margin-top: -5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
                ATTIVO
                {% else %}
                <svg style="color: red; margin-top: -5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                NON ATTIVO
                {% endif %}
              </p>
              <p class="card-text">Tipo: {{ user_subscription.subscription.type }}</p>
              <p class="card-text">Costo: €{{ user_subscription.subscription.cost }}</p>

              <button class="btn btn-link p-0 mb-3" onclick="modifica(this)">Modifica</button><br>

              {% if user_subscription.is_active %}
              <button class="btn btn-danger" onclick="deactivateSub()">Disattiva abbonamento</button>
              {% else %}
              <button class="btn btn-success" onclick="activateSub()">Riattiva abbonamento</button>
              {% endif %}
              
            {% endif %}
          </div>
        </div><!-- End subscription -->

      </div>
    </div>
  </div>
</div>
{% endblock %} <!-- End content -->


{% block script %}<!-- Start script -->
<script>

var selectValue = "annuale";

function getSelectedValue(select){
  selectValue = select.value;  
}


function aggiungi(button){
  $(button).prop('hidden', true);
  $('#box-select').prop('hidden', false);
  $('#confirm-new-sub').prop('hidden', false);
}

function modifica(button){
  $(button).prop('hidden', true);
  $('#box-select').prop('hidden', false);
  $('#confirm-modify-sub').prop('hidden', false);
}

function confirmNewSub(){
  $.ajax({
    url     : `{% url 'view_subscription' %}`,
    method  : "POST",
    data    : { 
      csrfmiddlewaretoken : '{{ csrf_token }}',
      'action' : 'add-new-subscription',
      'sub-type' : selectValue
    },
    datatype: "json",
    success : function(data){
      location.reload();
    },
    error : function(data){
      const message = data.message;
      alert(message);
    }
  });
}

function confirmModify(){
  $.ajax({
    url     : `{% url 'view_subscription' %}`,
    method  : "POST",
    data    : { 
      csrfmiddlewaretoken : '{{ csrf_token }}',
      'action' : 'modify-subscription',
      'sub-type' : selectValue
    },
    datatype: "json",
    success : function(data){
      location.reload();
    },
    error : function(data){
      const message = data.message;
      alert(message);
    }
  });
}

function deactivateSub(){
  $.ajax({
    url     : `{% url 'view_subscription' %}`,
    method  : "POST",
    data    : { 
      csrfmiddlewaretoken : '{{ csrf_token }}',
      'action' : 'deactivate-subscription',
    },
    datatype: "json",
    success : function(data){
      location.reload();
    },
    error : function(data){
      const message = data.message;
      alert(message);
    }
  });
}

function activateSub(){
  $.ajax({
    url     : `{% url 'view_subscription' %}`,
    method  : "POST",
    data    : { 
      csrfmiddlewaretoken : '{{ csrf_token }}',
      'action' : 'activate-subscription',
    },
    datatype: "json",
    success : function(data){
      location.reload();
    },
    error : function(data){
      const message = data.message;
      alert(message);
    }
  });
}


</script>
{% endblock %}<!-- End script -->