{% extends 'base.html' %}

{% block title %}Profilo{% endblock %}


{% block content %}<!-- Start content -->
{% include 'navbar.html' %}
{% load static %}
<div class="container-fluid">
  <div class="row">

    {% include 'profile/sidebar.html' %}
    
    <div class="col-lg-10 border-start">
      <div class="container py-5">

        {% include 'alert.html' %}

        <div class="card border-0"> <!-- Start aggiorna password -->
          <div class="card-body">
            <h4 class="card-title">Aggiorna password</h4>
            {% load crispy_forms_tags %}
            <form action="{% url 'view_update_password' %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-primary mt-3" type="submit">Modifica</button>
            </form>
          </div>
        </div><!-- End aggiorna password -->
      
      </div>
    </div>
  </div>
</div>
{% endblock %} <!-- End content -->
