<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>

  {% load static %}  
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <style>
    .card { 
      transition: all .2s ease-in-out; 
    }
    .card:hover { 
      cursor: pointer; 
      transform: scale(1.05); 
    }
  </style>
</head>
<body>

  <!-- Navbar -->
  {% include "navbar.html" %}

  <!-- Content -->
  <div class="container-fluid p-5">

    {% if genre %}
    <div class="border-bottom">
      <h1 class="display-6" style="font-size: 2rem;">{{ genre }}</h1>
    </div>
    <div class="mb-5"></div> <!-- seprator -->
    
    {% elif search %}
    <div class="alert alert-info">
      {% if films %}
        {{ films|length }} Risultati per <b>{{ search }}</b>
      {% else %}
        Nessun risultato <b>{{ search }}</b>
      {% endif %}
    </div>
    {% endif %}



    {% if films %}
    <div class="row row-cols-1 row-cols-md-6">
      {% for film in films %}
      <div class="col">
        <div class="card h-100 border-0 pe-auto" redirect_to="{% url 'details' film.id %}">
          <img src="{{ film.thumb.url }}" class="card-img-top rounded-0" style="height: 200px;">
          <div class="card-body bg-light">
            <h6>{{ film.name }}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mb-5"></div> <!-- seprator -->
    {% endif %}
    
  </div>


  <!-- Footer-->
  {% include "footer.html" %}
  



  <!-- include jquery js -->
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <!-- include bootstrap js -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </script>
</body>
</html>