{% extends 'base.html' %}

{% block title %}Browse{% endblock %}

{% block style %} <!-- Start style -->
<style>
  .card { 
    transition: all .2s ease-in-out; 
  }
  .card:hover { 
    cursor: pointer; 
    transform: scale(1.05); 
  }
</style>
{% endblock %}<!-- End style -->

{% block content %}<!-- Start content -->
{% include "navbar.html" %} <!-- Navbar -->
  
  <div class="container-fluid p-5">
    <div class="container-fluid p-5">

      {% if genre %}
      <div class="border-bottom">
        <h1 class="display-6" style="font-size: 2rem;">{{ genre }}</h1>
      </div>
      
      <div class="mb-5"></div> <!-- separator -->
      
      {% elif search %}
      {% include "alert.html" %}
      {% endif %}

      {% if films %}
      <div class="row row-cols-1 row-cols-md-6">
        {% for film in films %}
        <div class="col">
          <div class="card h-100 border-0 pe-auto" redirect_to="{% url 'details' film.id %}">
            <img src="{{ film.thumb.url }}" class="card-img-top rounded-0" style="height: 200px;">
            <div class="card-body bg-light">
              <h6>{{ film.name }}</h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mb-5"></div> <!-- separator -->
      {% endif %}
    </div>
  </div>

{% include "footer.html" %} <!-- Footer-->
{% endblock %} <!-- End content -->


{% block script %}<!-- Start script -->
<script type="text/javascript">
  $(document).ready(function(){
    $(".card").on("click", function(e){
      const newUrl = $(this).attr("redirect_to");
      window.location.href = newUrl;
    });
    
  });
</script>
{% endblock %}<!-- End script -->