{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block style %}
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
{% endblock %}

{% block content %}<!-- Start content -->
{% include "navbar.html" %}<!-- Navbar -->

<div class="container py-5">
  <h1>{{ film.name }}</h1>
  <hr>
  
  <div class="mb-5"></div> <!-- separator -->

  <div class="card border-0">
    <div class="row g-0">
      <div class="col-md-4">
        <video
          id="{{ film.name }}"
          class="video-js w-100 h-100"
          controls
          preload="auto"
          poster="{{ film.thumb.url }}"
          data-setup="{}">
        <source src="{{ film.videosrc.url }}"  type="video/mp4" />
      </video>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row">
            <div class="col-2">Descrizione:</div>
            <div class="col-10">{{ film.description }}</div>
          </div>
          <div class="mb-3"></div> <!-- separator -->

          <div class="row">
            <div class="col-2">Uscita:</div>
            <div class="col-10">{{ film.release_date }}</div>
          </div>
          <div class="mb-3"></div> <!-- separator -->

          <div class="row">
            <div class="col-2">Durata:</div>
            <div class="col-10">{{ film.duration }} min</div>
          </div>
          <div class="mb-3"></div> <!-- separator -->

          <div class="row">
            <div class="col-2">Regista:</div>
            <div class="col-10">{{ film.director }}</div>
          </div>
          <div class="mb-3"></div> <!-- separator -->

          <div class="row">
            <div class="col-2">Genere:</div>
            <div class="col-10">{{ film.genre }}</div>
          </div>
          <div class="mb-3"></div> <!-- separator -->

        </div>
      </div>
    </div>
  </div>
  
  <div class="mb-3"></div> <!-- separator -->
</div>


{% include "footer.html" %}<!-- Footer-->
{% endblock %}<!-- End content -->



{% block script %}
<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
{% endblock %}
