{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}<!-- Start content -->
{% include "navbar.html" %}<!-- Navbar -->

<div class="container py-5">
  
  {% include 'alert.html' %}
  
  <h1>{{ title.name }}</h1>

  <ul class="list-group">


    <li class="list-group-item px-0  border-0">
      <u>Costo:</u>
      <strong>
        {% if title.included %}
          <i>Gratuito</i>
        {% else %}
          <i>€{{ title.cost }} {% if purchased %}(Acquistato){% endif %}</i>
        {% endif %}
      </strong>
    </li>

    <li class="list-group-item px-0  border-0">
      <u>Valutazione:</u>
      <i>
        {% if not rating_avg %}
          0/5 (nessuna recensione)
        {% else %}
          {{ rating_avg }}/5 ({{ num_reviews }} recensioni)
        {% endif %}
      </i>
    </li>
    <li class="list-group-item px-0  border-0"><u>Data di rilascio:</u> <i>{{ title.release_date }}</i></li>
    <li class="list-group-item px-0  border-0"><u>Genere:</u> <i>{{ title.genre }}</i></li>

    {% if title.type == "film" %}
      <li class="list-group-item px-0  border-0"><u>Durata:</u> <i>{{ film.video.duration }} minuti</i> </li>
      <li class="list-group-item px-0  border-0"><u>Regista:</u> <i>{{ film.director }}</i></li>
    {% endif %}

    {% if title.type == "serie" %}
      <li class="list-group-item px-0  border-0"><u>Numero stagioni:</u> <i>{{ serie.seasons }}</i></li>
    {% endif %}

    <li class="list-group-item px-0  border-0"><p><u>Descrizione:</u> <i>{{ title.description }}</i></p></li>

    {% load static %}
    <li class="list-group-item px-0 border-0">
      <img src="{% get_media_prefix %}{{ title.thumb.thumb_src }}" style="height: 200px;">
    </li>

    <!-- Favorite button -->
    {% if user.is_authenticated %}
    <li class="list-group-item px-0 border-0">
      {% if is_favorite %}
        <button class="btn btn-danger" style="width: 14rem;"
          onclick="ajaxEvent('{{ title.id }}', 'remove')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
          Rimuovi dai preferiti</button>
      {% else %}
        <button class="btn btn-success" style="width: 14rem;"
          onclick="ajaxEvent('{{ title.id }}', 'add')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
          Aggiungi ai preferiti</button>
      {% endif %}
    </li>
    {% endif %}

    <!-- Buy title button -->
    {% if request.user.is_authenticated and not title.included and not purchased %}
    <button class="btn btn-primary" style="width: 14rem;"
        data-bs-toggle="modal" data-bs-target="#modal" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
      </svg>
      Acquista {% if title.type == 'film' %}film{% else %}serie{% endif %}
    </button>

    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Conferma acquisto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Conferma l'acquisto di <strong>{{ title.name }}</strong> per il costo di EURO {{ title.cost }}.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" onclick="confirmPurchase()">Conferma</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    
    {% if request.user.is_authenticated %}
    {% if title.included or purchased %}
    {% if title.type == "film" %}
    <li class="list-group-item px-0  border-0">
      <a class="btn btn-primary" style="width: 14rem;"
        href="{% url 'view_watch' title.id %}" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg>
        guarda ora
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% endif %}
  </ul>

  {% if request.user.is_authenticated %}
  {% if title.included or purchased %}
  {% if title.type == "serie" %}
  <div class="mt-5 mb-5"></div>
  <div class="card border-0">
    <div class="card-body px-0">
      <ul class="list-group list-group-flush">
      {% for season in seasons_range %}
      <li class="list-group-item px-0 border-0"><b>Stagione {{ season }}</b></li>
      
      <ol class="list-group list-group-flush list-group-numbered">
      {% for ep in episodes %}
      {% if ep.num_season == season %}
      <li class="list-group-item">
        <a  href="{% url 'view_watch' title.id %}?s={{ ep.num_season }}&ep={{ ep.num_ep }}" class="text-decoration-none" target="_blank" 
            rel="noopener noreferrer">{{ ep }}</a>
      </li>
      {% endif %}
      {% endfor %}
      </ol>
      <hr>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}

  <div class="mt-5 mb-5"></div>
  
  {% if user.is_authenticated %}
  <div class="card border-0"><!-- Sezione rating -->
    <h5 class="card-header">Recensisci titolo</h5>
    <div class="card-body">
      
    {% if can_vote %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="1">
      <label class="form-check-label">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="2">
      <label class="form-check-label">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="3">
      <label class="form-check-label">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="4">
      <label class="form-check-label">4</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="5">
      <label class="form-check-label">5</label>
    </div>
    <button class="btn btn-primary" onclick="vote()">Vota</button>
    
    {% else %}
    <p class="card-text">Hai già votato </p>
    
    {% endif %}
    </div>
  </div><!-- End Sezione rating -->
  <div class="mt-5 mb-5"></div>
  {% endif %}


  <div class="card border-0"> <!-- Sezione commenti -->
    <h5 class="card-header">Sezione commenti</h5>
    
    {% if user.is_authenticated %}
    <div class="card-body">
      <form action="{% url 'view_details' title.id %}?action=add-comment" method="POST">
        {% csrf_token %} 
        <label class="form-label">Aggiungi un commento</label>
        <textarea class="form-control" name="comment-text" rows="3"></textarea>
        <button class="btn btn-primary mt-3 mb-3" type="submit">Aggiungi</button>
      </form>
    </div>
    <hr>
    {% endif %}

    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for comment in comments %}
        <li class="list-group-item px-0">
          <h6><b>{{ comment.user }}</b> ha commentato:</h6>
          <p>{{ comment.text }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- End Sezione commenti -->
    
</div>


{% include "footer.html" %}<!-- Footer-->
{% endblock %}<!-- End content -->

{% block script %}
<script type="text/javascript">
  function ajaxEvent(title_id, action){
    $.ajax({
      url     : `{% url 'view_favorites' %}`,
      method  : "POST",
      data    : { 
        csrfmiddlewaretoken : '{{ csrf_token }}',
        action   : action,
        title_id : title_id
      },
      datatype: "json",
      success : function(data){
        location.reload();
      },
      error : function(data){
        const message = data.message;
        alert(message);
      }
    });
  }

  function vote(){
    const rating = $('input[name="inlineRadioOptions"]:checked').val();
      $.ajax({
        url     : `{% url 'view_details' title.id %}`,
        method  : "POST",
        data    : { 
          csrfmiddlewaretoken : '{{ csrf_token }}',
          action   : 'add-vote',
          rating : rating
        },
        datatype: "json",
        success : function(data){
          location.reload();
        },
        error : function(data){
          const message = data.message;
          alert(message);
        }
      });
  }

  function confirmPurchase(){
    $.ajax({
      url     : `{% url 'view_details' title.id %}`,
      method  : "POST",
      data    : { 
        csrfmiddlewaretoken : '{{ csrf_token }}',
        action   : 'buy-title',
      },
      datatype: "json",
      success : function(data){
        location.reload();
      },
      error : function(data){
        const message = data.message;
        alert(message);
      }
    });
  }
</script>
{% endblock %}

