<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>

  {% load static %}  
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  {% include "navbar.html" %}

  <!-- Content -->
  <div class="container py-5">

    <div class="border-bottom">
      <h1>{{ film.name }}</h1>
    </div>
    <div class="mb-5"></div> <!-- seprator -->

    <div class="card border-0 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ film.thumb.url }}" class="img-fluid rounded-0">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row">
              <div class="col-2">Descrizione:</div>
              <div class="col-10">{{ film.description }}</div>
            </div>
            <div class="mb-3"></div> <!-- seprator -->

            <div class="row">
              <div class="col-2">Uscita:</div>
              <div class="col-10">{{ film.release_date }}</div>
            </div>
            <div class="mb-3"></div> <!-- seprator -->

            <div class="row">
              <div class="col-2">Durata:</div>
              <div class="col-10">{{ film.duration }} min</div>
            </div>
            <div class="mb-3"></div> <!-- seprator -->

            <div class="row">
              <div class="col-2">Regista:</div>
              <div class="col-10">{{ film.director }}</div>
            </div>
            <div class="mb-3"></div> <!-- seprator -->

            <div class="row">
              <div class="col-2">Genere:</div>
              <div class="col-10">{{ film.genre }}</div>
            </div>
            <div class="mb-3"></div> <!-- seprator -->

            <button class="btn btn-primary rounded-pill">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
              </svg>
              Guarda ora
            </button>

          </div>
        </div>
      </div>
    </div>
  
  </div>


  <!-- Footer-->
  {% include "footer.html" %}
  

  <!-- include jquery js -->
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <!-- include bootstrap js -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </script>
</body>
</html>