{% extends 'base.html' %}

{% block title %}Browse{% endblock %}

{% block style %} <!-- Start style -->
<style>
  .card { 
    transition: all .2s ease-in-out; 
  }
  .card:hover { 
    transform: scale(1.05); 
  }
</style>
{% endblock %}<!-- End style -->

{% block content %}<!-- Start content -->
{% include "navbar.html" %} <!-- Navbar -->
  
  <div class="container-fluid p-5">
    <div class="container-fluid p-5">

      <h1 class="display-6 fw-bold" style="font-size: 2rem;">I tuoi titoli preferiti</h1>
      <hr>
      
      {% load static %}
      <div class="row row-cols-1 row-cols-md-6">
        {% for item in favorites %}
        <div class="col">
          <div class="card h-100 border-0">
            <img src="{% get_media_prefix %}{{ item.title.thumb.thumb_src }}" class="card-img-top rounded-0" style="height: 180px;">
            <div class="card-body">
              <h6 class="card-title">
                <a href="{% url 'view_details' item.title.id %}" class=" text-decoration-none text-body">{{ item.title.name }}</a>
              </h6>
            </div>
            <div class="card-footer ">
              <button class="btn btn-link text-danger text-decoration-none p-0" 
                style="font-size: 0.8rem;" onclick="removeItem('{{ item.title.id }}');">Rimuovi</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

{% include "footer.html" %} <!-- Footer-->
{% endblock %} <!-- End content -->


{% block script %}<!-- Start script -->
<script type="text/javascript">
  function removeItem(title_id){
    $.ajax({
      url     : `{% url 'view_favorites' %}`,
      method  : "POST",
      data    : { 
        csrfmiddlewaretoken : '{{ csrf_token }}',
        action   : 'remove',
        title_id : title_id
      },
      datatype: "json",
      success : function(data){
        location.reload();
      },
      error : function(data){
        const message = data.message;
        alert(message);
      }
    });
  }
</script>
{% endblock %}<!-- End script -->