{% extends 'base.html' %}

{% block title %}Movies{% endblock %}

{% block style %} <!-- Start style -->
<style>
  .card { 
    transition: all .2s ease-in-out; 
  }
  .card:hover { 
    cursor: pointer; 
    transform: scale(1.05); 
  }
</style>
{% endblock %}<!-- End style -->


{% block content %}<!-- Start content -->
{% include "navbar.html" %} <!-- Navbar -->

<div class="container-fluid px-5 py-4">
  <div class="container-fluid px-5 py-4">

    {% include "alert.html" with dismiss=True %}

    {% if films %}    <h1>Film</h1>     {% endif %}
    {% if tvseries %} <h1>Serie TV</h1> {% endif %}
    
    <select class="form-select rounded-0" id="selectGenre" style="width: 12rem;">
      <option selected>Generi</option>
      {% for genre in genres %}
      <option value="{{ genre.genre_id }}">{{ genre.genre_id }}</option>
      {% endfor %}
    </select>

    <div class="mb-5"></div> <!-- seprator -->

    {% for genre in genres %}
    <div class="border-bottom">
      <h1 class="display-6 d-inline" style="font-size: 2rem;">{{ genre.genre_id }}</h1>
      <a href="{% url 'view_browse' %}?genre={{ genre.genre_id }}" class="d-inline px-3 text-decoration-none">sfoglia tutti</a>
    </div>
    <div class="mb-3"></div> <!-- seprator -->

    <div class="row row-cols-1 row-cols-md-6">
      {% if films %}
      {% for film in films %}
      {% if film.genre_id == genre.genre_id %}
      <div class="col">
        <div class="card h-100 border-0 pe-auto" redirect_to="{% url 'view_details' film.id %}?type=film">
          <img src="{{ film.thumb.url }}" class="card-img-top rounded-0" style="height: 200px;">
          <div class="card-body bg-light">
            <h6>{{ film.name }}</h6>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if tvseries %}
      {% for serie in tvseries %}
      {% if serie.genre_id == genre.genre_id %}
      <div class="col">
        <div class="card h-100 border-0 pe-auto" redirect_to="{% url 'view_details' serie.id %}?type=tv-serie">
          <img src="{{ serie.thumb.url }}" class="card-img-top rounded-0" style="height: 200px;">
          <div class="card-body bg-light">
            <h6>{{ serie.name }}</h6>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

    </div>
    <div class="mb-5"></div> <!-- separator -->
    {% endfor %} 

  </div>
</div>

{% include "footer.html" %} <!-- Footer-->
{% endblock %} <!-- End content -->



{% block script %}<!-- Start script -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#selectGenre").on("change", function(e){
      const genre = $("option:selected", this).val();
      const newUrl = window.location.origin + `{% url 'view_browse' %}?genre=${genre}`; 
      window.location.href = newUrl;
    });

    $(".card").on("click", function(e){
      const newUrl = $(this).attr("redirect_to");
      window.location.href = newUrl;
    });
    
  });
</script>
{% endblock %}<!-- End script -->
