<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>

  <!-- load bootstrap css -->
  {% load static %}  
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">MovieStreaming</a>
      
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <img src="{% static 'icons/person.svg' %}"/>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Sign up</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex" action="{% url 'home' %}" method="GET">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-transparent rounded-0">
                <img src="{% static 'icons/search.svg' %}">
              </span>
            </div>
            <input type="text" class="form-control rounded-0" placeholder="search">
          </div>
        </form>

      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">
    <h1>Content here</h1>
  </div>

  <!-- Footer-->



  <!-- Bootstrap js -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>