<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registrati</title>

  {% load static %}  
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container mt-5 pt-5">
    <small><a href="{% url 'home' %}">Indietro</a></small>

    <div class="container w-50">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      
      <h4>Registrati</h4>
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 mt-3 mb-3" type="submit">invia</button>
        <small>Hai già un account? <a href="{% url 'login' %}">Accedi</a></small>
      </form>
    </div>
  </div>

</body>
</html>